.header {
  width: 100%;
}

.wrapper {
  width: 970px;
  margin: 30px auto 40px;
  display: flex;
  justify-content: space-between;
}

.main {
  display: block;
  width: 660px;
}

.sidemenu {
  width: 275px;
}

.footer {
  width: 100%;
}

.header,.main,.footer,.sidemenu {
  border: 1px solid #aaa;
  background-color: #ccc;
}

.header, .footer {
  height: 100px;
}

.main, .sidemenu {
  height: 500px;
}